<div class="cv">
  <div class="cv__container">
    <div class="cv__list-wrapper">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <ng-container [ngTemplateOutlet]="nodeLink" [ngTemplateOutletContext]="{node:node}"></ng-container>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding (click)="toggleNode(node)" class="cv__detail-expand">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="cv__icon-expand">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <ng-container [ngTemplateOutlet]="nodeLink" [ngTemplateOutletContext]="{node:node}"></ng-container>
        </mat-tree-node>
      </mat-tree>
    </div>
    <div class="cv__router-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

<ng-template #nodeLink let-node='node'>
  <a *ngIf="node.route; else noRoute" [routerLink]="node.route" class="cv__detail-route">{{node.name}}</a>
  <ng-template #noRoute>
    <span class="cv__detail-text">{{node.name}}</span>
  </ng-template>
</ng-template>