@import "variables";
@import "mixins";

.sidenav {
  height: 100%;
  &__main {
    width: 120px;
  }
  &__link {
    &.mat-list-item {
      @include breakpoint(lg) {
        height: 100px !important;
      }
    }
    .mat-list-item-content {
      justify-content: center;
    }
    .mat-icon {
      color: $disabled-color;
    }
    &--active {
      .mat-icon {
        color: white;
      }
    }
  }
  &__icon {
    &.mat-icon {
      height: 24px;
      width: auto;
      @include breakpoint(lg) {
        height: 50px;
      }
    }
  }
  .mat-drawer-side {
    border-right: solid 1px $disabled-color;
  }
  &__mobile-nav {
    position: fixed;
    bottom: 0;
    border-top: solid 1px $disabled-color;
    z-index: 2;
  }
  &__mobile-nav-list {
    &.mat-nav-list {
      display: flex;
      padding-top: 0;
    }
  }
}
