.contact-dialog {
  width: 500px;
  height: auto;

  .mat-mdc-dialog-content {
    display: flex;
    flex-flow: column;
  }

  .mat-mdc-form-field {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}