@use 'sass:map';
@use '@angular/material' as mat;
@import "variables";
@import "mixins";

$font-config: mat.m2-define-typography-config($font-family: "Poppins, monospace");

// Dark Theme text
$light-text: #fff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

// Light Theme text
$dark-text: #000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);
$mat-dark-theme-foreground: (
  base: $light-text,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba($light-text, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-accent-text,
  accent-text: $light-accent-text,
  icon: $light-text,
  icons: $light-text,
  text: $light-text,
  slider-min: $light-text,
  slider-off: rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Dark bg
$dark-background: #000;
$dark-bg-lighter-5: lighten($dark-background, 5%);
$dark-bg-lighter-10: lighten($dark-background, 10%);
$dark-bg-lighter-20: lighten($dark-background, 20%);
$dark-bg-lighter-30: lighten($dark-background, 30%);
$light-bg-alpha-4: rgba(#fafafa, 0.04);
$light-bg-alpha-12: rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background: $dark-background,
  status-bar: $dark-bg-lighter-20,
  app-bar: $dark-bg-lighter-5,
  hover: $light-bg-alpha-4,
  card: $dark-bg-lighter-5,
  dialog: $dark-bg-lighter-5,
  tooltip: $dark-bg-lighter-20,
  disabled-button: $light-bg-alpha-12,
  raised-button: $dark-bg-lighter-5,
  focused-button: $light-focused,
  selected-button: $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle: $dark-bg-lighter-10,
  unselected-chip: $dark-bg-lighter-20,
  disabled-list-option: $dark-bg-lighter-10,
);

@include mat.core;

$mat-primary: (
  main: #8ee3ef,
  lighter: #ddf7fa,
  darker: #71d8e8,
  200: #8ee3ef,
  // For slide toggle,
  contrast : (main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-primary: mat.m2-define-palette($mat-primary, main, lighter, darker);
$mat-accent: (
  main: #13cf13,
  lighter: #b8f1b8,
  darker: #0bbd0b,
  200: #13cf13,
  // For slide toggle,
  contrast : (main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-accent: mat.m2-define-palette($mat-accent, main, lighter, darker);
$mat-warn: (
  main: #ba274a,
  lighter: #eabec9,
  darker: #a31732,
  200: #ba274a,
  // For slide toggle,
  contrast : (main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat.m2-define-palette($mat-warn, main, lighter, darker);
$theme: mat.m2-define-dark-theme((color: (primary: $theme-primary, accent: $theme-accent, warn: $theme-warn),
      typography: $font-config,
      density: 0,
    ));
$theme: map.set($theme,
    color,
    background,
    $mat-dark-theme-background);
$theme: map.set($theme,
    color,
    foreground,
    $mat-dark-theme-foreground);
$theme: map.set($theme,
    background,
    $mat-dark-theme-background);
$theme: map.set($theme,
    foreground,
    $mat-dark-theme-foreground);

// Theme Init
@include mat.all-component-themes($theme);

.dark-theme {
  .mat-mdc-outlined-button {
    padding: 0 25px;
    font-size: 14px;
    height: 40px;
    font-weight: 400;
    border: 4px solid $disabled-color;

    &:hover {
      border: 4px solid white;
    }

    @include breakpoint(lg) {
      padding: 0 50px;
      font-size: 28px;
      height: 80px;
    }
  }

  .html-tag {
    color: $disabled-color;
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-style: italic;

    &__text {
      display: block;
    }

    &__node {
      color: $primary-color;
    }
  }

  .mat-mdc-tab-header.mat-mdc-tab-nav-bar-stretch-tabs {
    .mat-mdc-tab-link {
      flex-grow: 0;
    }
  }

  .mat-mdc-tab-link-container {
    border-bottom: 1px solid rgb(255 255 255 / 12%);
  }
}