.stack {
  &__container {
    padding-bottom: 50px;
  }
  &__intro-wrapper {

  }
  &__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}