.filter-btn {
  background-color: transparent;
  border-radius: 4px;

  &:hover {
    border-color: var(--color-primary);
  }

  &.active-filter {
    border-color: var(--color-primary);
    color: var(--color-primary);
    background-color: rgb(16 185 129 / 12%);
    font-weight: 600;
  }
}
