@import 'variables';

.terms {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 24px 50px 24px;

  a {
    outline: none;
    text-decoration: none;
    color: $accent-color;

    &:hover {
      outline: none;
      text-decoration: underline;
    }
  }
}
