.terms {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 50px;

  a {
    outline: none;
    text-decoration: none;
    color: #13cf13;

    &:hover {
      outline: none;
      text-decoration: underline;
    }
  }
}
