@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?qd5pn2') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?qd5pn2') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?qd5pn2##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="devbrand-"], [class*=" devbrand-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.devbrand-adobe-xd .path1 {
  &:before {
    content: $devbrand-adobe-xd-path1;  
    color: rgb(71, 1, 55);
  }
}
.devbrand-adobe-xd .path2 {
  &:before {
    content: $devbrand-adobe-xd-path2;  
    margin-left: -1em;  
    color: rgb(255, 97, 246);
  }
}
.devbrand-adobe-xd .path3 {
  &:before {
    content: $devbrand-adobe-xd-path3;  
    margin-left: -1em;  
    color: rgb(255, 97, 246);
  }
}
.devbrand-amazon-api-gateway .path1 {
  &:before {
    content: $devbrand-amazon-api-gateway-path1;  
    color: rgb(161, 102, 255);
  }
}
.devbrand-amazon-api-gateway .path2 {
  &:before {
    content: $devbrand-amazon-api-gateway-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-api-gateway .path3 {
  &:before {
    content: $devbrand-amazon-api-gateway-path3;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-api-gateway .path4 {
  &:before {
    content: $devbrand-amazon-api-gateway-path4;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-api-gateway .path5 {
  &:before {
    content: $devbrand-amazon-api-gateway-path5;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-api-gateway .path6 {
  &:before {
    content: $devbrand-amazon-api-gateway-path6;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-api-gateway .path7 {
  &:before {
    content: $devbrand-amazon-api-gateway-path7;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-api-gateway .path8 {
  &:before {
    content: $devbrand-amazon-api-gateway-path8;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-cloudfront .path1 {
  &:before {
    content: $devbrand-amazon-cloudfront-path1;  
    color: rgb(161, 102, 255);
  }
}
.devbrand-amazon-cloudfront .path2 {
  &:before {
    content: $devbrand-amazon-cloudfront-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-cloudfront .path3 {
  &:before {
    content: $devbrand-amazon-cloudfront-path3;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-cloudfront .path4 {
  &:before {
    content: $devbrand-amazon-cloudfront-path4;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-cloudfront .path5 {
  &:before {
    content: $devbrand-amazon-cloudfront-path5;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-cloudfront .path6 {
  &:before {
    content: $devbrand-amazon-cloudfront-path6;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-cloudfront .path7 {
  &:before {
    content: $devbrand-amazon-cloudfront-path7;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-cloudfront .path8 {
  &:before {
    content: $devbrand-amazon-cloudfront-path8;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-cloudfront .path9 {
  &:before {
    content: $devbrand-amazon-cloudfront-path9;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-cloudfront .path10 {
  &:before {
    content: $devbrand-amazon-cloudfront-path10;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-cloudfront .path11 {
  &:before {
    content: $devbrand-amazon-cloudfront-path11;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-cloudfront .path12 {
  &:before {
    content: $devbrand-amazon-cloudfront-path12;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-cloudfront .path13 {
  &:before {
    content: $devbrand-amazon-cloudfront-path13;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-cloudwatch .path1 {
  &:before {
    content: $devbrand-amazon-cloudwatch-path1;  
    color: rgb(255, 79, 139);
  }
}
.devbrand-amazon-cloudwatch .path2 {
  &:before {
    content: $devbrand-amazon-cloudwatch-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-cloudwatch .path3 {
  &:before {
    content: $devbrand-amazon-cloudwatch-path3;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-cloudwatch .path4 {
  &:before {
    content: $devbrand-amazon-cloudwatch-path4;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-dynamodb .path1 {
  &:before {
    content: $devbrand-amazon-dynamodb-path1;  
    color: rgb(82, 127, 255);
  }
}
.devbrand-amazon-dynamodb .path2 {
  &:before {
    content: $devbrand-amazon-dynamodb-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-dynamodb .path3 {
  &:before {
    content: $devbrand-amazon-dynamodb-path3;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-dynamodb .path4 {
  &:before {
    content: $devbrand-amazon-dynamodb-path4;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-dynamodb .path5 {
  &:before {
    content: $devbrand-amazon-dynamodb-path5;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-dynamodb .path6 {
  &:before {
    content: $devbrand-amazon-dynamodb-path6;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-ebs .path1 {
  &:before {
    content: $devbrand-amazon-ebs-path1;  
    color: rgb(108, 174, 62);
  }
}
.devbrand-amazon-ebs .path2 {
  &:before {
    content: $devbrand-amazon-ebs-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-ebs .path3 {
  &:before {
    content: $devbrand-amazon-ebs-path3;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-ebs .path4 {
  &:before {
    content: $devbrand-amazon-ebs-path4;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-ebs .path5 {
  &:before {
    content: $devbrand-amazon-ebs-path5;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-ebs .path6 {
  &:before {
    content: $devbrand-amazon-ebs-path6;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-ebs .path7 {
  &:before {
    content: $devbrand-amazon-ebs-path7;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-ebs .path8 {
  &:before {
    content: $devbrand-amazon-ebs-path8;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-ec2 .path1 {
  &:before {
    content: $devbrand-amazon-ec2-path1;  
    color: rgb(255, 153, 0);
  }
}
.devbrand-amazon-ec2 .path2 {
  &:before {
    content: $devbrand-amazon-ec2-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-ec2 .path3 {
  &:before {
    content: $devbrand-amazon-ec2-path3;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-ec2 .path4 {
  &:before {
    content: $devbrand-amazon-ec2-path4;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-rds .path1 {
  &:before {
    content: $devbrand-amazon-rds-path1;  
    color: rgb(82, 127, 255);
  }
}
.devbrand-amazon-rds .path2 {
  &:before {
    content: $devbrand-amazon-rds-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-rds .path3 {
  &:before {
    content: $devbrand-amazon-rds-path3;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-rds .path4 {
  &:before {
    content: $devbrand-amazon-rds-path4;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-rds .path5 {
  &:before {
    content: $devbrand-amazon-rds-path5;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-rds .path6 {
  &:before {
    content: $devbrand-amazon-rds-path6;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-rds .path7 {
  &:before {
    content: $devbrand-amazon-rds-path7;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-rds .path8 {
  &:before {
    content: $devbrand-amazon-rds-path8;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-route53 .path1 {
  &:before {
    content: $devbrand-amazon-route53-path1;  
    color: rgb(161, 102, 255);
  }
}
.devbrand-amazon-route53 .path2 {
  &:before {
    content: $devbrand-amazon-route53-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-route53 .path3 {
  &:before {
    content: $devbrand-amazon-route53-path3;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-route53 .path4 {
  &:before {
    content: $devbrand-amazon-route53-path4;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-route53 .path5 {
  &:before {
    content: $devbrand-amazon-route53-path5;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-s3 .path1 {
  &:before {
    content: $devbrand-amazon-s3-path1;  
    color: rgb(108, 174, 62);
  }
}
.devbrand-amazon-s3 .path2 {
  &:before {
    content: $devbrand-amazon-s3-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-vpc .path1 {
  &:before {
    content: $devbrand-amazon-vpc-path1;  
    color: rgb(161, 102, 255);
  }
}
.devbrand-amazon-vpc .path2 {
  &:before {
    content: $devbrand-amazon-vpc-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-vpc .path3 {
  &:before {
    content: $devbrand-amazon-vpc-path3;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-amazon-vpc .path4 {
  &:before {
    content: $devbrand-amazon-vpc-path4;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-angular .path1 {
  &:before {
    content: $devbrand-angular-path1;  
    color: rgb(221, 0, 49);
  }
}
.devbrand-angular .path2 {
  &:before {
    content: $devbrand-angular-path2;  
    margin-left: -1em;  
    color: rgb(195, 0, 47);
  }
}
.devbrand-angular .path3 {
  &:before {
    content: $devbrand-angular-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.devbrand-angular-material .path1 {
  &:before {
    content: $devbrand-angular-material-path1;  
    color: rgb(255, 167, 38);
  }
}
.devbrand-angular-material .path2 {
  &:before {
    content: $devbrand-angular-material-path2;  
    margin-left: -0.9296875em;  
    color: rgb(251, 140, 0);
  }
}
.devbrand-angular-material .path3 {
  &:before {
    content: $devbrand-angular-material-path3;  
    margin-left: -0.9296875em;  
    color: rgb(255, 224, 178);
  }
}
.devbrand-angular-material .path4 {
  &:before {
    content: $devbrand-angular-material-path4;  
    margin-left: -0.9296875em;  
    color: rgb(255, 243, 224);
  }
}
.devbrand-angular-material .path5 {
  &:before {
    content: $devbrand-angular-material-path5;  
    margin-left: -0.9296875em;  
    color: rgb(255, 255, 255);
  }
}
.devbrand-angular-universal .path1 {
  &:before {
    content: $devbrand-angular-universal-path1;  
    color: rgb(0, 172, 193);
  }
}
.devbrand-angular-universal .path2 {
  &:before {
    content: $devbrand-angular-universal-path2;  
    margin-left: -0.9296875em;  
    color: rgb(0, 131, 143);
  }
}
.devbrand-angular-universal .path3 {
  &:before {
    content: $devbrand-angular-universal-path3;  
    margin-left: -0.9296875em;  
    color: rgb(255, 255, 255);
  }
}
.devbrand-angular-universal .path4 {
  &:before {
    content: $devbrand-angular-universal-path4;  
    margin-left: -0.9296875em;  
    color: rgb(128, 214, 224);
  }
}
.devbrand-angular-universal .path5 {
  &:before {
    content: $devbrand-angular-universal-path5;  
    margin-left: -0.9296875em;  
    color: rgb(128, 214, 224);
  }
}
.devbrand-angular-universal .path6 {
  &:before {
    content: $devbrand-angular-universal-path6;  
    margin-left: -0.9296875em;  
    color: rgb(128, 214, 224);
  }
}
.devbrand-ansible .path1 {
  &:before {
    content: $devbrand-ansible-path1;  
    color: rgb(26, 25, 24);
  }
}
.devbrand-ansible .path2 {
  &:before {
    content: $devbrand-ansible-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.devbrand-aws .path1 {
  &:before {
    content: $devbrand-aws-path1;  
    color: rgb(37, 47, 62);
  }
}
.devbrand-aws .path2 {
  &:before {
    content: $devbrand-aws-path2;  
    margin-left: -1.669921875em;  
    color: rgb(255, 153, 0);
  }
}
.devbrand-aws .path3 {
  &:before {
    content: $devbrand-aws-path3;  
    margin-left: -1.669921875em;  
    color: rgb(255, 153, 0);
  }
}
.devbrand-aws-cdk .path1 {
  &:before {
    content: $devbrand-aws-cdk-path1;  
    color: rgb(255, 79, 139);
  }
}
.devbrand-aws-cdk .path2 {
  &:before {
    content: $devbrand-aws-cdk-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 61);
  }
}
.devbrand-aws-cloudformation .path1 {
  &:before {
    content: $devbrand-aws-cloudformation-path1;  
    color: rgb(255, 79, 139);
  }
}
.devbrand-aws-cloudformation .path2 {
  &:before {
    content: $devbrand-aws-cloudformation-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-cm .path1 {
  &:before {
    content: $devbrand-aws-cm-path1;  
    color: rgb(255, 82, 82);
  }
}
.devbrand-aws-cm .path2 {
  &:before {
    content: $devbrand-aws-cm-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-cm .path3 {
  &:before {
    content: $devbrand-aws-cm-path3;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-cm .path4 {
  &:before {
    content: $devbrand-aws-cm-path4;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-cm .path5 {
  &:before {
    content: $devbrand-aws-cm-path5;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-cm .path6 {
  &:before {
    content: $devbrand-aws-cm-path6;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-cm .path7 {
  &:before {
    content: $devbrand-aws-cm-path7;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-cm .path8 {
  &:before {
    content: $devbrand-aws-cm-path8;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-codebuild .path1 {
  &:before {
    content: $devbrand-aws-codebuild-path1;  
    color: rgb(82, 127, 255);
  }
}
.devbrand-aws-codebuild .path2 {
  &:before {
    content: $devbrand-aws-codebuild-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-codebuild .path3 {
  &:before {
    content: $devbrand-aws-codebuild-path3;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-codebuild .path4 {
  &:before {
    content: $devbrand-aws-codebuild-path4;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-codebuild .path5 {
  &:before {
    content: $devbrand-aws-codebuild-path5;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-codecommit .path1 {
  &:before {
    content: $devbrand-aws-codecommit-path1;  
    color: rgb(82, 127, 255);
  }
}
.devbrand-aws-codecommit .path2 {
  &:before {
    content: $devbrand-aws-codecommit-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-codecommit .path3 {
  &:before {
    content: $devbrand-aws-codecommit-path3;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-codecommit .path4 {
  &:before {
    content: $devbrand-aws-codecommit-path4;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-codecommit .path5 {
  &:before {
    content: $devbrand-aws-codecommit-path5;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-codecommit .path6 {
  &:before {
    content: $devbrand-aws-codecommit-path6;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-codecommit .path7 {
  &:before {
    content: $devbrand-aws-codecommit-path7;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-codepipeline .path1 {
  &:before {
    content: $devbrand-aws-codepipeline-path1;  
    color: rgb(82, 127, 255);
  }
}
.devbrand-aws-codepipeline .path2 {
  &:before {
    content: $devbrand-aws-codepipeline-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-codepipeline .path3 {
  &:before {
    content: $devbrand-aws-codepipeline-path3;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-codepipeline .path4 {
  &:before {
    content: $devbrand-aws-codepipeline-path4;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-codepipeline .path5 {
  &:before {
    content: $devbrand-aws-codepipeline-path5;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-codepipeline .path6 {
  &:before {
    content: $devbrand-aws-codepipeline-path6;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-iam .path1 {
  &:before {
    content: $devbrand-aws-iam-path1;  
    color: rgb(255, 82, 82);
  }
}
.devbrand-aws-iam .path2 {
  &:before {
    content: $devbrand-aws-iam-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-iam .path3 {
  &:before {
    content: $devbrand-aws-iam-path3;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-iam .path4 {
  &:before {
    content: $devbrand-aws-iam-path4;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-iam .path5 {
  &:before {
    content: $devbrand-aws-iam-path5;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-iam .path6 {
  &:before {
    content: $devbrand-aws-iam-path6;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-iam .path7 {
  &:before {
    content: $devbrand-aws-iam-path7;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-iam .path8 {
  &:before {
    content: $devbrand-aws-iam-path8;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-iam .path9 {
  &:before {
    content: $devbrand-aws-iam-path9;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-kms .path1 {
  &:before {
    content: $devbrand-aws-kms-path1;  
    color: rgb(255, 82, 82);
  }
}
.devbrand-aws-kms .path2 {
  &:before {
    content: $devbrand-aws-kms-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-kms .path3 {
  &:before {
    content: $devbrand-aws-kms-path3;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-kms .path4 {
  &:before {
    content: $devbrand-aws-kms-path4;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-kms .path5 {
  &:before {
    content: $devbrand-aws-kms-path5;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-kms .path6 {
  &:before {
    content: $devbrand-aws-kms-path6;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-kms .path7 {
  &:before {
    content: $devbrand-aws-kms-path7;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-kms .path8 {
  &:before {
    content: $devbrand-aws-kms-path8;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-lambda .path1 {
  &:before {
    content: $devbrand-aws-lambda-path1;  
    color: rgb(255, 153, 0);
  }
}
.devbrand-aws-lambda .path2 {
  &:before {
    content: $devbrand-aws-lambda-path2;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-aws-lambda .path3 {
  &:before {
    content: $devbrand-aws-lambda-path3;  
    margin-left: -1em;  
    color: rgb(35, 47, 62);
  }
}
.devbrand-babel .path1 {
  &:before {
    content: $devbrand-babel-path1;  
    color: rgb(1, 1, 1);
  }
}
.devbrand-babel .path2 {
  &:before {
    content: $devbrand-babel-path2;  
    margin-left: -0.8193359375em;  
    color: rgb(1, 1, 1);
  }
}
.devbrand-babel .path3 {
  &:before {
    content: $devbrand-babel-path3;  
    margin-left: -0.8193359375em;  
    color: rgb(1, 1, 1);
  }
}
.devbrand-babel .path4 {
  &:before {
    content: $devbrand-babel-path4;  
    margin-left: -0.8193359375em;  
    color: rgb(1, 1, 1);
  }
}
.devbrand-babel .path5 {
  &:before {
    content: $devbrand-babel-path5;  
    margin-left: -0.8193359375em;  
    color: rgb(1, 1, 1);
  }
}
.devbrand-babel .path6 {
  &:before {
    content: $devbrand-babel-path6;  
    margin-left: -0.8193359375em;  
    color: rgb(1, 1, 1);
  }
}
.devbrand-babel .path7 {
  &:before {
    content: $devbrand-babel-path7;  
    margin-left: -0.8193359375em;  
    color: rgb(1, 1, 1);
  }
}
.devbrand-babel .path8 {
  &:before {
    content: $devbrand-babel-path8;  
    margin-left: -0.8193359375em;  
    color: rgb(1, 1, 1);
  }
}
.devbrand-babel .path9 {
  &:before {
    content: $devbrand-babel-path9;  
    margin-left: -0.8193359375em;  
    color: rgb(1, 1, 1);
  }
}
.devbrand-babel .path10 {
  &:before {
    content: $devbrand-babel-path10;  
    margin-left: -0.8193359375em;  
    color: rgb(1, 1, 1);
  }
}
.devbrand-babel .path11 {
  &:before {
    content: $devbrand-babel-path11;  
    margin-left: -0.8193359375em;  
    color: rgb(245, 220, 94);
  }
}
.devbrand-bootstrap .path1 {
  &:before {
    content: $devbrand-bootstrap-path1;  
    color: rgb(86, 61, 124);
  }
}
.devbrand-bootstrap .path2 {
  &:before {
    content: $devbrand-bootstrap-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.devbrand-css .path1 {
  &:before {
    content: $devbrand-css-path1;  
    color: rgb(38, 77, 228);
  }
}
.devbrand-css .path2 {
  &:before {
    content: $devbrand-css-path2;  
    margin-left: -0.7080078125em;  
    color: rgb(41, 101, 241);
  }
}
.devbrand-css .path3 {
  &:before {
    content: $devbrand-css-path3;  
    margin-left: -0.7080078125em;  
    color: rgb(235, 235, 235);
  }
}
.devbrand-css .path4 {
  &:before {
    content: $devbrand-css-path4;  
    margin-left: -0.7080078125em;  
    color: rgb(235, 235, 235);
  }
}
.devbrand-css .path5 {
  &:before {
    content: $devbrand-css-path5;  
    margin-left: -0.7080078125em;  
    color: rgb(235, 235, 235);
  }
}
.devbrand-css .path6 {
  &:before {
    content: $devbrand-css-path6;  
    margin-left: -0.7080078125em;  
    color: rgb(0, 0, 0);
  }
}
.devbrand-css .path7 {
  &:before {
    content: $devbrand-css-path7;  
    margin-left: -0.7080078125em;  
    color: rgb(0, 0, 0);
  }
}
.devbrand-css .path8 {
  &:before {
    content: $devbrand-css-path8;  
    margin-left: -0.7080078125em;  
    color: rgb(0, 0, 0);
  }
}
.devbrand-css .path9 {
  &:before {
    content: $devbrand-css-path9;  
    margin-left: -0.7080078125em;  
    color: rgb(255, 255, 255);
  }
}
.devbrand-cucumber .path1 {
  &:before {
    content: $devbrand-cucumber-path1;  
    color: rgb(0, 168, 24);
  }
}
.devbrand-cucumber .path2 {
  &:before {
    content: $devbrand-cucumber-path2;  
    margin-left: -0.8681640625em;  
    color: rgb(255, 255, 255);
  }
}
.devbrand-cypress .path1 {
  &:before {
    content: $devbrand-cypress-path1;  
    color: rgb(255, 255, 255);
  }
}
.devbrand-cypress .path2 {
  &:before {
    content: $devbrand-cypress-path2;  
    margin-left: -1em;  
    color: rgb(92, 92, 94);
  }
}
.devbrand-cypress .path3 {
  &:before {
    content: $devbrand-cypress-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.devbrand-docker {
  &:before {
    content: $devbrand-docker;     
    color: #009ddb;
  }
}
.devbrand-express {
  &:before {
    content: $devbrand-express; 
  }
}
.devbrand-figma .path1 {
  &:before {
    content: $devbrand-figma-path1;  
    color: rgb(10, 207, 131);
  }
}
.devbrand-figma .path2 {
  &:before {
    content: $devbrand-figma-path2;  
    margin-left: -0.6669921875em;  
    color: rgb(162, 89, 255);
  }
}
.devbrand-figma .path3 {
  &:before {
    content: $devbrand-figma-path3;  
    margin-left: -0.6669921875em;  
    color: rgb(242, 78, 30);
  }
}
.devbrand-figma .path4 {
  &:before {
    content: $devbrand-figma-path4;  
    margin-left: -0.6669921875em;  
    color: rgb(255, 114, 98);
  }
}
.devbrand-figma .path5 {
  &:before {
    content: $devbrand-figma-path5;  
    margin-left: -0.6669921875em;  
    color: rgb(26, 188, 254);
  }
}
.devbrand-firebase .path1 {
  &:before {
    content: $devbrand-firebase-path1;  
    color: rgb(255, 160, 0);
  }
}
.devbrand-firebase .path2 {
  &:before {
    content: $devbrand-firebase-path2;  
    margin-left: -0.7265625em;  
    color: rgb(245, 124, 0);
  }
}
.devbrand-firebase .path3 {
  &:before {
    content: $devbrand-firebase-path3;  
    margin-left: -0.7265625em;  
    color: rgb(255, 202, 40);
  }
}
.devbrand-git {
  &:before {
    content: $devbrand-git;     
    color: #f05133;
  }
}
.devbrand-html .path1 {
  &:before {
    content: $devbrand-html-path1;  
    color: rgb(0, 0, 0);
  }
}
.devbrand-html .path2 {
  &:before {
    content: $devbrand-html-path2;  
    margin-left: -1em;  
    color: rgb(228, 77, 38);
  }
}
.devbrand-html .path3 {
  &:before {
    content: $devbrand-html-path3;  
    margin-left: -1em;  
    color: rgb(241, 101, 41);
  }
}
.devbrand-html .path4 {
  &:before {
    content: $devbrand-html-path4;  
    margin-left: -1em;  
    color: rgb(235, 235, 235);
  }
}
.devbrand-html .path5 {
  &:before {
    content: $devbrand-html-path5;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.devbrand-jasmine {
  &:before {
    content: $devbrand-jasmine;     
    color: #8a4182;
  }
}
.devbrand-java .path1 {
  &:before {
    content: $devbrand-java-path1;  
    color: rgb(83, 130, 161);
  }
}
.devbrand-java .path2 {
  &:before {
    content: $devbrand-java-path2;  
    margin-left: -1em;  
    color: rgb(83, 130, 161);
  }
}
.devbrand-java .path3 {
  &:before {
    content: $devbrand-java-path3;  
    margin-left: -1em;  
    color: rgb(231, 111, 0);
  }
}
.devbrand-java .path4 {
  &:before {
    content: $devbrand-java-path4;  
    margin-left: -1em;  
    color: rgb(83, 130, 161);
  }
}
.devbrand-java .path5 {
  &:before {
    content: $devbrand-java-path5;  
    margin-left: -1em;  
    color: rgb(83, 130, 161);
  }
}
.devbrand-java .path6 {
  &:before {
    content: $devbrand-java-path6;  
    margin-left: -1em;  
    color: rgb(83, 130, 161);
  }
}
.devbrand-java .path7 {
  &:before {
    content: $devbrand-java-path7;  
    margin-left: -1em;  
    color: rgb(231, 111, 0);
  }
}
.devbrand-java .path8 {
  &:before {
    content: $devbrand-java-path8;  
    margin-left: -1em;  
    color: rgb(83, 130, 161);
  }
}
.devbrand-javascript .path1 {
  &:before {
    content: $devbrand-javascript-path1;  
    color: rgb(247, 223, 30);
  }
}
.devbrand-javascript .path2 {
  &:before {
    content: $devbrand-javascript-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.devbrand-jenkins {
  &:before {
    content: $devbrand-jenkins;     
    color: #d33833;
  }
}
.devbrand-jquery {
  &:before {
    content: $devbrand-jquery;     
    color: #0868ac;
  }
}
.devbrand-linux .path1 {
  &:before {
    content: $devbrand-linux-path1;  
    color: rgb(236, 239, 241);
  }
}
.devbrand-linux .path2 {
  &:before {
    content: $devbrand-linux-path2;  
    margin-left: -1em;  
    color: rgb(38, 50, 56);
  }
}
.devbrand-linux .path3 {
  &:before {
    content: $devbrand-linux-path3;  
    margin-left: -1em;  
    color: rgb(236, 239, 241);
  }
}
.devbrand-linux .path4 {
  &:before {
    content: $devbrand-linux-path4;  
    margin-left: -1em;  
    color: rgb(236, 239, 241);
  }
}
.devbrand-linux .path5 {
  &:before {
    content: $devbrand-linux-path5;  
    margin-left: -1em;  
    color: rgb(33, 33, 33);
  }
}
.devbrand-linux .path6 {
  &:before {
    content: $devbrand-linux-path6;  
    margin-left: -1em;  
    color: rgb(33, 33, 33);
  }
}
.devbrand-linux .path7 {
  &:before {
    content: $devbrand-linux-path7;  
    margin-left: -1em;  
    color: rgb(255, 193, 7);
  }
}
.devbrand-linux .path8 {
  &:before {
    content: $devbrand-linux-path8;  
    margin-left: -1em;  
    color: rgb(255, 193, 7);
  }
}
.devbrand-linux .path9 {
  &:before {
    content: $devbrand-linux-path9;  
    margin-left: -1em;  
    color: rgb(255, 193, 7);
  }
}
.devbrand-linux .path10 {
  &:before {
    content: $devbrand-linux-path10;  
    margin-left: -1em;  
    color: rgb(99, 71, 3);
  }
}
.devbrand-linux .path11 {
  &:before {
    content: $devbrand-linux-path11;  
    margin-left: -1em;  
    color: rgb(99, 71, 3);
  }
}
.devbrand-linux .path12 {
  &:before {
    content: $devbrand-linux-path12;  
    margin-left: -1em;  
    color: rgb(99, 71, 3);
  }
}
.devbrand-linux .path13 {
  &:before {
    content: $devbrand-linux-path13;  
    margin-left: -1em;  
    color: rgb(69, 90, 100);
  }
}
.devbrand-lodash .path1 {
  &:before {
    content: $devbrand-lodash-path1;  
    color: rgb(0, 0, 0);
  }
}
.devbrand-lodash .path2 {
  &:before {
    content: $devbrand-lodash-path2;  
    margin-left: -1.0986328125em;  
    color: rgb(0, 0, 0);
  }
}
.devbrand-lodash .path3 {
  &:before {
    content: $devbrand-lodash-path3;  
    margin-left: -1.0986328125em;  
    color: rgb(52, 146, 255);
  }
}
.devbrand-mysql {
  &:before {
    content: $devbrand-mysql;     
    color: #00546b;
  }
}
.devbrand-nginx .path1 {
  &:before {
    content: $devbrand-nginx-path1;  
    color: rgb(0, 148, 56);
  }
}
.devbrand-nginx .path2 {
  &:before {
    content: $devbrand-nginx-path2;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.devbrand-nodejs {
  &:before {
    content: $devbrand-nodejs;     
    color: #539e43;
  }
}
.devbrand-php .path1 {
  &:before {
    content: $devbrand-php-path1;  
    color: rgb(0, 0, 0);
  }
}
.devbrand-php .path2 {
  &:before {
    content: $devbrand-php-path2;  
    margin-left: -1.8544921875em;  
    color: rgb(119, 123, 179);
  }
}
.devbrand-php .path3 {
  &:before {
    content: $devbrand-php-path3;  
    margin-left: -1.8544921875em;  
    color: rgb(0, 0, 0);
  }
}
.devbrand-php .path4 {
  &:before {
    content: $devbrand-php-path4;  
    margin-left: -1.8544921875em;  
    color: rgb(255, 255, 255);
  }
}
.devbrand-php .path5 {
  &:before {
    content: $devbrand-php-path5;  
    margin-left: -1.8544921875em;  
    color: rgb(0, 0, 0);
  }
}
.devbrand-php .path6 {
  &:before {
    content: $devbrand-php-path6;  
    margin-left: -1.8544921875em;  
    color: rgb(255, 255, 255);
  }
}
.devbrand-php .path7 {
  &:before {
    content: $devbrand-php-path7;  
    margin-left: -1.8544921875em;  
    color: rgb(0, 0, 0);
  }
}
.devbrand-php .path8 {
  &:before {
    content: $devbrand-php-path8;  
    margin-left: -1.8544921875em;  
    color: rgb(255, 255, 255);
  }
}
.devbrand-redux {
  &:before {
    content: $devbrand-redux;     
    color: #764abc;
  }
}
.devbrand-rxjs {
  &:before {
    content: $devbrand-rxjs;     
    color: #f7008c;
  }
}
.devbrand-saltstack .path1 {
  &:before {
    content: $devbrand-saltstack-path1;  
    color: rgb(67, 150, 185);
  }
}
.devbrand-saltstack .path2 {
  &:before {
    content: $devbrand-saltstack-path2;  
    margin-left: -1.0986328125em;  
    color: rgb(184, 221, 232);
  }
}
.devbrand-saltstack .path3 {
  &:before {
    content: $devbrand-saltstack-path3;  
    margin-left: -1.0986328125em;  
    color: rgb(117, 190, 213);
  }
}
.devbrand-saltstack .path4 {
  &:before {
    content: $devbrand-saltstack-path4;  
    margin-left: -1.0986328125em;  
    color: rgb(67, 150, 185);
  }
}
.devbrand-saltstack .path5 {
  &:before {
    content: $devbrand-saltstack-path5;  
    margin-left: -1.0986328125em;  
    color: rgb(117, 190, 213);
  }
}
.devbrand-saltstack .path6 {
  &:before {
    content: $devbrand-saltstack-path6;  
    margin-left: -1.0986328125em;  
    color: rgb(117, 190, 213);
  }
}
.devbrand-saltstack .path7 {
  &:before {
    content: $devbrand-saltstack-path7;  
    margin-left: -1.0986328125em;  
    color: rgb(184, 221, 232);
  }
}
.devbrand-sass {
  &:before {
    content: $devbrand-sass;     
    color: #cd6799;
  }
}
.devbrand-serverless {
  &:before {
    content: $devbrand-serverless;     
    color: #f26d61;
  }
}
.devbrand-strapi .path1 {
  &:before {
    content: $devbrand-strapi-path1;  
    color: rgb(142, 117, 255);
  }
}
.devbrand-strapi .path2 {
  &:before {
    content: $devbrand-strapi-path2;  
    margin-left: -1em;  
    color: rgb(142, 117, 255);  
    opacity: 0.41;
  }
}
.devbrand-strapi .path3 {
  &:before {
    content: $devbrand-strapi-path3;  
    margin-left: -1em;  
    color: rgb(142, 117, 255);  
    opacity: 0.41;
  }
}
.devbrand-typescript .path1 {
  &:before {
    content: $devbrand-typescript-path1;  
    color: rgb(49, 120, 198);
  }
}
.devbrand-typescript .path2 {
  &:before {
    content: $devbrand-typescript-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.devbrand-webpack .path1 {
  &:before {
    content: $devbrand-webpack-path1;  
    color: rgb(255, 255, 255);
  }
}
.devbrand-webpack .path2 {
  &:before {
    content: $devbrand-webpack-path2;  
    margin-left: -0.8837890625em;  
    color: rgb(142, 214, 251);
  }
}
.devbrand-webpack .path3 {
  &:before {
    content: $devbrand-webpack-path3;  
    margin-left: -0.8837890625em;  
    color: rgb(28, 120, 192);
  }
}
.devbrand-zend-framework {
  &:before {
    content: $devbrand-zend-framework;     
    color: #57a900;
  }
}

