$icomoon-font-family: "devbrand" !default;
$icomoon-font-path: "fonts" !default;

$devbrand-jquery: "\e900";
$devbrand-linux-path1: "\e901";
$devbrand-linux-path2: "\e902";
$devbrand-linux-path3: "\e903";
$devbrand-linux-path4: "\e904";
$devbrand-linux-path5: "\e905";
$devbrand-linux-path6: "\e906";
$devbrand-linux-path7: "\e907";
$devbrand-linux-path8: "\e908";
$devbrand-linux-path9: "\e909";
$devbrand-linux-path10: "\e90a";
$devbrand-linux-path11: "\e90b";
$devbrand-linux-path12: "\e90c";
$devbrand-linux-path13: "\e90d";
$devbrand-lodash-path1: "\e90e";
$devbrand-lodash-path2: "\e90f";
$devbrand-lodash-path3: "\e910";
$devbrand-mysql: "\e911";
$devbrand-nginx-path1: "\e912";
$devbrand-nginx-path2: "\e913";
$devbrand-nodejs: "\e914";
$devbrand-php-path1: "\e915";
$devbrand-php-path2: "\e916";
$devbrand-php-path3: "\e917";
$devbrand-php-path4: "\e918";
$devbrand-php-path5: "\e919";
$devbrand-php-path6: "\e91a";
$devbrand-php-path7: "\e91b";
$devbrand-php-path8: "\e91c";
$devbrand-redux: "\e91d";
$devbrand-rxjs: "\e91e";
$devbrand-saltstack-path1: "\e91f";
$devbrand-saltstack-path2: "\e920";
$devbrand-saltstack-path3: "\e921";
$devbrand-saltstack-path4: "\e922";
$devbrand-saltstack-path5: "\e923";
$devbrand-saltstack-path6: "\e924";
$devbrand-saltstack-path7: "\e925";
$devbrand-sass: "\e926";
$devbrand-serverless: "\e927";
$devbrand-strapi-path1: "\e928";
$devbrand-strapi-path2: "\e929";
$devbrand-strapi-path3: "\e92a";
$devbrand-typescript-path1: "\e92b";
$devbrand-typescript-path2: "\e92c";
$devbrand-webpack-path1: "\e92d";
$devbrand-webpack-path2: "\e92e";
$devbrand-webpack-path3: "\e92f";
$devbrand-zend-framework: "\e930";
$devbrand-adobe-xd-path1: "\e931";
$devbrand-adobe-xd-path2: "\e932";
$devbrand-adobe-xd-path3: "\e933";
$devbrand-amazon-api-gateway-path1: "\e934";
$devbrand-amazon-api-gateway-path2: "\e935";
$devbrand-amazon-api-gateway-path3: "\e936";
$devbrand-amazon-api-gateway-path4: "\e937";
$devbrand-amazon-api-gateway-path5: "\e938";
$devbrand-amazon-api-gateway-path6: "\e939";
$devbrand-amazon-api-gateway-path7: "\e93a";
$devbrand-amazon-api-gateway-path8: "\e93b";
$devbrand-amazon-cloudfront-path1: "\e93c";
$devbrand-amazon-cloudfront-path2: "\e93d";
$devbrand-amazon-cloudfront-path3: "\e93e";
$devbrand-amazon-cloudfront-path4: "\e93f";
$devbrand-amazon-cloudfront-path5: "\e940";
$devbrand-amazon-cloudfront-path6: "\e941";
$devbrand-amazon-cloudfront-path7: "\e942";
$devbrand-amazon-cloudfront-path8: "\e943";
$devbrand-amazon-cloudfront-path9: "\e944";
$devbrand-amazon-cloudfront-path10: "\e945";
$devbrand-amazon-cloudfront-path11: "\e946";
$devbrand-amazon-cloudfront-path12: "\e947";
$devbrand-amazon-cloudfront-path13: "\e948";
$devbrand-amazon-cloudwatch-path1: "\e949";
$devbrand-amazon-cloudwatch-path2: "\e94a";
$devbrand-amazon-cloudwatch-path3: "\e94b";
$devbrand-amazon-cloudwatch-path4: "\e94c";
$devbrand-amazon-dynamodb-path1: "\e94d";
$devbrand-amazon-dynamodb-path2: "\e94e";
$devbrand-amazon-dynamodb-path3: "\e94f";
$devbrand-amazon-dynamodb-path4: "\e950";
$devbrand-amazon-dynamodb-path5: "\e951";
$devbrand-amazon-dynamodb-path6: "\e952";
$devbrand-amazon-ebs-path1: "\e953";
$devbrand-amazon-ebs-path2: "\e954";
$devbrand-amazon-ebs-path3: "\e955";
$devbrand-amazon-ebs-path4: "\e956";
$devbrand-amazon-ebs-path5: "\e957";
$devbrand-amazon-ebs-path6: "\e958";
$devbrand-amazon-ebs-path7: "\e959";
$devbrand-amazon-ebs-path8: "\e95a";
$devbrand-amazon-ec2-path1: "\e95b";
$devbrand-amazon-ec2-path2: "\e95c";
$devbrand-amazon-ec2-path3: "\e95d";
$devbrand-amazon-ec2-path4: "\e95e";
$devbrand-amazon-rds-path1: "\e95f";
$devbrand-amazon-rds-path2: "\e960";
$devbrand-amazon-rds-path3: "\e961";
$devbrand-amazon-rds-path4: "\e962";
$devbrand-amazon-rds-path5: "\e963";
$devbrand-amazon-rds-path6: "\e964";
$devbrand-amazon-rds-path7: "\e965";
$devbrand-amazon-rds-path8: "\e966";
$devbrand-amazon-route53-path1: "\e967";
$devbrand-amazon-route53-path2: "\e968";
$devbrand-amazon-route53-path3: "\e969";
$devbrand-amazon-route53-path4: "\e96a";
$devbrand-amazon-route53-path5: "\e96b";
$devbrand-amazon-s3-path1: "\e96c";
$devbrand-amazon-s3-path2: "\e96d";
$devbrand-amazon-vpc-path1: "\e96e";
$devbrand-amazon-vpc-path2: "\e96f";
$devbrand-amazon-vpc-path3: "\e970";
$devbrand-amazon-vpc-path4: "\e971";
$devbrand-angular-path1: "\e972";
$devbrand-angular-path2: "\e973";
$devbrand-angular-path3: "\e974";
$devbrand-angular-material-path1: "\e975";
$devbrand-angular-material-path2: "\e976";
$devbrand-angular-material-path3: "\e977";
$devbrand-angular-material-path4: "\e978";
$devbrand-angular-material-path5: "\e979";
$devbrand-angular-universal-path1: "\e97a";
$devbrand-angular-universal-path2: "\e97b";
$devbrand-angular-universal-path3: "\e97c";
$devbrand-angular-universal-path4: "\e97d";
$devbrand-angular-universal-path5: "\e97e";
$devbrand-angular-universal-path6: "\e97f";
$devbrand-aws-path1: "\e980";
$devbrand-aws-path2: "\e981";
$devbrand-aws-path3: "\e982";
$devbrand-aws-cdk-path1: "\e983";
$devbrand-aws-cdk-path2: "\e984";
$devbrand-aws-cloudformation-path1: "\e985";
$devbrand-aws-cloudformation-path2: "\e986";
$devbrand-aws-cm-path1: "\e987";
$devbrand-aws-cm-path2: "\e988";
$devbrand-aws-cm-path3: "\e989";
$devbrand-aws-cm-path4: "\e98a";
$devbrand-aws-cm-path5: "\e98b";
$devbrand-aws-cm-path6: "\e98c";
$devbrand-aws-cm-path7: "\e98d";
$devbrand-aws-cm-path8: "\e98e";
$devbrand-aws-codebuild-path1: "\e98f";
$devbrand-aws-codebuild-path2: "\e990";
$devbrand-aws-codebuild-path3: "\e991";
$devbrand-aws-codebuild-path4: "\e992";
$devbrand-aws-codebuild-path5: "\e993";
$devbrand-aws-codecommit-path1: "\e994";
$devbrand-aws-codecommit-path2: "\e995";
$devbrand-aws-codecommit-path3: "\e996";
$devbrand-aws-codecommit-path4: "\e997";
$devbrand-aws-codecommit-path5: "\e998";
$devbrand-aws-codecommit-path6: "\e999";
$devbrand-aws-codecommit-path7: "\e99a";
$devbrand-aws-codepipeline-path1: "\e99b";
$devbrand-aws-codepipeline-path2: "\e99c";
$devbrand-aws-codepipeline-path3: "\e99d";
$devbrand-aws-codepipeline-path4: "\e99e";
$devbrand-aws-codepipeline-path5: "\e99f";
$devbrand-aws-codepipeline-path6: "\e9a0";
$devbrand-aws-iam-path1: "\e9a1";
$devbrand-aws-iam-path2: "\e9a2";
$devbrand-aws-iam-path3: "\e9a3";
$devbrand-aws-iam-path4: "\e9a4";
$devbrand-aws-iam-path5: "\e9a5";
$devbrand-aws-iam-path6: "\e9a6";
$devbrand-aws-iam-path7: "\e9a7";
$devbrand-aws-iam-path8: "\e9a8";
$devbrand-aws-iam-path9: "\e9a9";
$devbrand-aws-kms-path1: "\e9aa";
$devbrand-aws-kms-path2: "\e9ab";
$devbrand-aws-kms-path3: "\e9ac";
$devbrand-aws-kms-path4: "\e9ad";
$devbrand-aws-kms-path5: "\e9ae";
$devbrand-aws-kms-path6: "\e9af";
$devbrand-aws-kms-path7: "\e9b0";
$devbrand-aws-kms-path8: "\e9b1";
$devbrand-aws-lambda-path1: "\e9b2";
$devbrand-aws-lambda-path2: "\e9b3";
$devbrand-aws-lambda-path3: "\e9b4";
$devbrand-babel-path1: "\e9b5";
$devbrand-babel-path2: "\e9b6";
$devbrand-babel-path3: "\e9b7";
$devbrand-babel-path4: "\e9b8";
$devbrand-babel-path5: "\e9b9";
$devbrand-babel-path6: "\e9ba";
$devbrand-babel-path7: "\e9bb";
$devbrand-babel-path8: "\e9bc";
$devbrand-babel-path9: "\e9bd";
$devbrand-babel-path10: "\e9be";
$devbrand-babel-path11: "\e9bf";
$devbrand-bootstrap-path1: "\e9c0";
$devbrand-bootstrap-path2: "\e9c1";
$devbrand-css-path1: "\e9c2";
$devbrand-css-path2: "\e9c3";
$devbrand-css-path3: "\e9c4";
$devbrand-css-path4: "\e9c5";
$devbrand-css-path5: "\e9c6";
$devbrand-css-path6: "\e9c7";
$devbrand-css-path7: "\e9c8";
$devbrand-css-path8: "\e9c9";
$devbrand-css-path9: "\e9ca";
$devbrand-cucumber-path1: "\e9cb";
$devbrand-cucumber-path2: "\e9cc";
$devbrand-cypress-path1: "\e9cd";
$devbrand-cypress-path2: "\e9ce";
$devbrand-cypress-path3: "\e9cf";
$devbrand-docker: "\e9d0";
$devbrand-express: "\e9d1";
$devbrand-figma-path1: "\e9d2";
$devbrand-figma-path2: "\e9d3";
$devbrand-figma-path3: "\e9d4";
$devbrand-figma-path4: "\e9d5";
$devbrand-figma-path5: "\e9d6";
$devbrand-firebase-path1: "\e9d7";
$devbrand-firebase-path2: "\e9d8";
$devbrand-firebase-path3: "\e9d9";
$devbrand-git: "\e9da";
$devbrand-html-path1: "\e9db";
$devbrand-html-path2: "\e9dc";
$devbrand-html-path3: "\e9dd";
$devbrand-html-path4: "\e9de";
$devbrand-html-path5: "\e9df";
$devbrand-jasmine: "\e9e0";
$devbrand-java-path1: "\e9e1";
$devbrand-java-path2: "\e9e2";
$devbrand-java-path3: "\e9e3";
$devbrand-java-path4: "\e9e4";
$devbrand-java-path5: "\e9e5";
$devbrand-java-path6: "\e9e6";
$devbrand-java-path7: "\e9e7";
$devbrand-java-path8: "\e9e8";
$devbrand-javascript-path1: "\e9e9";
$devbrand-javascript-path2: "\e9ea";
$devbrand-jenkins: "\e9eb";

