$xs-max-width: 599px;
$sm-min-width: 600px;
$md-min-width: 960px;
$lg-min-width: 1280px;

@mixin page-xs-view {
  @media screen and (max-width: $xs-max-width) {
      @content;
  }
}

@mixin page-sm-view {
  @media screen and (min-width: $sm-min-width) {
      @content;
  }
}

@mixin page-md-view {
  @media screen and (min-width: $md-min-width) {
      @content;
  }
}

@mixin page-lg-view {
  @media screen and (min-width: $lg-min-width) {
      @content;
  }
}