<div class="home">
  <div class="home__container">
    <div class="home__main">
      <h1 appHtmlTags class="home__greeting">Hello World!</h1>
      <!-- <button class="home__cta" mat-stroked-button color="accent" data-cy="home-cta" (click)="openContactDialog()">Hire Me!</button> -->
    </div>
    <div class="home__readme-wrapper">
      <mat-tab-group color="accent">
        <mat-tab label="README.md" *ngIf="readme$">
          <div [innerHtml]="readme$ | async | mdToHtml"></div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
