@import 'variables';
@import 'mixins';

.home {
  &__container {
    display: flex;
    flex-flow: column;
    height: auto;
    align-items: center;
    padding: 20px 20px 55px 20px;

    @include breakpoint(lg) {
      align-items: flex-start;
      padding: 30px 100px 30px 100px;
      flex-flow: row;
      min-height: calc(100vh - 150px);
    }
  }

  &__main {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    width: auto;
    margin-bottom: 20px;

    @include breakpoint(lg) {
      width: 50%;
      margin-bottom: 0;
    }
  }

  &__readme-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(lg) {
      width: 50%;
      height: auto;
      border-radius: 0;
      border: none;
    }

    img[align=left] {
      padding-right: 20px;
      padding-bottom: 20px;
    }
  }

  &__greeting {
    margin: 0;
  }

  &__cta {
    &.mat-stroked-button {
      // margin: 70px auto 0 auto;

      @include breakpoint(lg) {
        // margin: 150px 0 0 0;
      }
    }
  }
}
