<div class="home">
  <div class="home__container">
    <div class="home__main">
      <h1 appHtmlTags class="home__greeting">Hello! 👋</h1>
      <br>
      <h2 appHtmlTags class="home__greeting">I'm currently working as a DevOps Engineer Lead. 👨‍💻</h2>
      <br>
      <p appHtmlTags class="home__greeting">
        This website is deployed to AWS using Azure DevOps 🚀
      </p>
      <br>
      <p appHtmlTags class="home__greeting">
        Made with open source projects and runs on $0.6/month 💵
      </p>
      <br>
      <button appHtmlTags class="home__cta" mat-stroked-button color="accent" data-cy="home-cta" (click)="promptEmail()">Hire Me!</button>
    </div>
    <div class="home__readme-wrapper">
      <div>
        <nav mat-tab-nav-bar [tabPanel]="tabPanel" color="accent">
          <a *ngIf="readme$" mat-tab-link color="accent" [active]="true" (click)="openGithubReadme()">
            README.md
          </a>
        </nav>
        <mat-tab-nav-panel #tabPanel>
          <div mat-tab-content [innerHtml]="readme$ | async | mdToHtml"></div>
        </mat-tab-nav-panel>
      </div>
    </div>
  </div>
</div>